@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill {
    -webkit-text-fill-color: inherit !important;
}

svg:hover path {
    fill: orange;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
}